.content{
    text-align: center;
    margin: 4% 0%;
}
.content h1 {
    font-size: 4rem;
    line-height: 2.5rem;
    font-weight: 900;
    color: #802FDE;
    text-shadow: 2px 3px 0px #fff;
}
.content input[type="text"] {
    font-size: inherit;
    padding: 12px 13px;
    outline: none;
    border: 0;
    border-radius: 10px;
}
.content input[type="submit"] {
    border: 0;
    outline: none;
    padding: 12px;
    font-size: inherit;
    border-radius: 10px;
    background-color: #802FDE;
    color: #fff;
    transition: 0.3s;
}
.content input[type="submit"]:hover {
    background-color: #802fde6b;
}

.content form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.error {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: red;
    width: fit-content;
    margin: 30px auto 0px;
    padding: 4px 11px;
    border-radius: 8px;
}